<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.massive.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/covered_food_tray_on_a_hand_of_hotel_room_service"
        android:label="@string/app_name"
        android:roundIcon="@drawable/covered_food_tray_on_a_hand_of_hotel_room_service"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.RecipeDetailsActivity" />

        <receiver android:name=".widgets.IngredentWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredent_widget_info" />
        </receiver>

        <!--<service-->
            <!--android:name=".widgets.MyWidgetService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:permission="android.permission.BIND_REMOTEVIEWS"/>-->
        <!--<service android:name=".widgets.IngredientWidgetService" />-->
    </application>

</manifest>